RedHackathon/node-red/flows.json
[{"id":"75b7b789.409c38","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"9aa7daf6.cc8ac8","type":"tab","label":"OnlineHackHack","disabled":false,"info":""},{"id":"202e5ae7.f36b06","type":"MySQLdatabase","z":"75b7b789.409c38","host":"localhost","port":"3306","db":"db_online_hack_hack","tz":""},{"id":"2beecc5f.e47c74","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"db_online_hack_hack","tz":""},{"id":"844c283a.291568","type":"inject","z":"75b7b789.409c38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":100,"wires":[[]]},{"id":"30554cbf.d4d9f4","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/post_idea","method":"post","upload":false,"swaggerDoc":"","x":220,"y":140,"wires":[["f01fba55.dc79b8","e3566e4d.03963"]]},{"id":"e3566e4d.03963","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":40,"wires":[]},{"id":"39aff5d6.1fcd3a","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*","Access-Control-Allow-Headers":"X-Requested-With, Origin, X-Csrftoken, Content-Type, Accept","Access-Control-Allow-Methods":"POST, GET, OPTIONS"},"x":800,"y":140,"wires":[]},{"id":"f01fba55.dc79b8","type":"function","z":"9aa7daf6.cc8ac8","name":"データ取得","func":"msg.url = msg.payload.url;\nmsg.user_id = msg.payload.user_id;\nmsg.user_role = msg.payload.rols;\nmsg.describe = msg.payload.describe;\nmsg.tags = msg.payload.tags; \nmsg.title = msg.payload.title;\nif(!msg.title) {\n    msg.title = 'TITLE';\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["39aff5d6.1fcd3a","aa6c4af6.41d098","ff4f91ac.caf0c"]]},{"id":"5eccb72f.9a6bd8","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/show_idea","method":"get","upload":false,"swaggerDoc":"","x":200,"y":460,"wires":[["a72d2bc4.3d6578","402ad8ac.7d8168"]]},{"id":"1965d5f.887852a","type":"inject","z":"9aa7daf6.cc8ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":360,"wires":[["e4f09fa.37d086"]]},{"id":"426e223b.27619c","type":"template","z":"9aa7daf6.cc8ac8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Online Hack Hack</title>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <!-- BootstrapのCSS読み込み -->\n    <link href=\"https://pit-creation.com/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"> -->\n    <!-- jQuery読み込み -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n    <!-- BootstrapのJS読み込み -->\n    <script src=\"https://pit-creation.com/bootstrap/js/bootstrap.min.js\"></script>\n    \n    <script>\n  function sendData(url) {\n      alert(`session={{{session}}}&url=${url}`);\n    const XHR = new XMLHttpRequest();\n\n    // データが正常に送信された場合に行うことを定義します\n    XHR.addEventListener(\"load\", function(event) {\n      alert(event.target.responseText);\n    });\n\n    // エラーが発生した場合に行うことを定義します\n    XHR.addEventListener(\"error\", function(event) {\n      alert('Oups! Something goes wrong.');\n    });\n\n    XHR.open(\"POST\", \"https://pit-creation.com/OnlineHackHack_z9eNYhrdTGvBdYsAkPrdU8Wd/vote\");\n\n    XHR.send(`session={{{session}}}&url=${url}`)\n    \n    return false;\n  }\n\n    </script>\n    \n    <style>\n        {{{css.cssfile}}}\n    </style>\n\n</head>\n<body>\n\n   <a id=\"skippy\" class=\"sr-only sr-only-focusable\" href=\"#content\">\n  <div class=\"container\">\n    <span class=\"skiplink-text\">Skip to main content</span>\n  </div>\n</a>\n\n\n\n    <header>\n  <div class=\"collapse bg-dark\" id=\"navbarHeader\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"col-sm-8 col-md-7 py-4\">\n          <h4 class=\"text-white\">このサイトについて</h4>\n          <p class=\"text-muted\">今後ハッカソンはオンラインが標準になってくるはず。東京も大阪も広島も、ひょっとすると国境さえ飛び越えて共に開発する日がやってくるかも。そんなときのために支援ツールを開発してみました。</p>\n        </div>\n        <div class=\"col-sm-4 offset-md-1 py-4\">\n          <h4 class=\"text-white\">Contact</h4>\n          <ul class=\"list-unstyled\">\n            <li><a href=\"#\" class=\"text-white\">Shinsuke Ogata</a></li>\n            <li><a href=\"#\" class=\"text-white\">Yuta Matsunaga</a></li>\n          </ul>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"navbar navbar-dark bg-dark shadow-sm\">\n    <div class=\"container d-flex justify-content-between\">\n      <a href=\"#\" class=\"navbar-brand d-flex align-items-center\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"mr-2\"><path d=\"M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z\"></path><circle cx=\"12\" cy=\"13\" r=\"4\"></circle></svg>\n        <strong>Online Hack Hack</strong>\n      </a>\n      <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarHeader\" aria-controls=\"navbarHeader\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n        <span class=\"navbar-toggler-icon\"></span>\n      </button>\n    </div>\n  </div>\n</header>\n\n\n\n\n\n\n\n<main role=\"main\">\n\n  <section class=\"jumbotron text-center\">\n    <div class=\"container\">\n      <h1 class=\"jumbotron-heading\">Ideas</h1>\n      <p class=\"lead\">Are there any cool idea for you and us?</p>\n      <!--\n      <p>\n        <a href=\"#\" class=\"btn btn-primary my-2\">Main call to action</a>\n        <a href=\"#\" class=\"btn btn-secondary my-2\">Secondary action</a>\n      </p>\n      -->\n    </div>\n  </section>\n\n  <div class=\"album py-5 bg-light\">\n    <div class=\"container\">\n\n      <div class=\"row\">\n\n\n{{#payload}}\n        <div class=\"col-md-4\">\n          <div class=\"card mb-4 shadow-sm\">\n            <img class=\"card-img-top\" src=\"{{idea_url}}\" alt=\"idea image\">\n            <div class=\"card-body\">\n              <h2 class=\"card-text\">{{{title}}}</h2>\n              <p class=\"card-text\">★: {{{count}}}</p>\n              <p class=\"card-text\">{{describe_data}}</p>\n              <div class=\"d-flex justify-content-between align-items-center\">\n                <div class=\"btn-group\">\n                    <!--\n                  <button type=\"submit\" form=\"myForm\" onclick=\"submitdata.submit.value='{{idea_url}}'\" class=\"btn btn-sm btn-outline-secondary\">Like</button>\n                  -->\n                  <button onclick=\"location.href='https://pit-creation.com/OnlineHackHack_z9eNYhrdTGvBdYsAkPrdU8Wd/vote?session={{{session}}}&uuid={{{uuid}}}'\" class=\"btn btn-sm btn-outline-secondary\">Like</button>\n                </div>\n                <small class=\"text-muted\">tags: {{{tag}}}</small>\n                <small class=\"text-muted\">owner: {{user_id}}</small>\n              </div>\n            </div>\n          </div>\n        </div>\n{{/payload}}\n\n        \n      </div>\n    </div>\n    \n    <form name=\"submitdata\" id=\"myForm\" onSubmit=\"return sendData(submitdata.submit.value)\" class=\"form-horizontal\">\n    </form>\n    \n  </div>\n\n</main>\n\n<footer class=\"text-muted\">\n  <div class=\"container\">\n    <p class=\"float-right\">\n      <a href=\"#\">Back to top</a>\n    </p>\n    <p>New to Bootstrap? <a href=\"../../\">Visit the homepage</a> or read our <a href=\"../../getting-started/\">getting started guide</a>.</p>\n  </div>\n</footer>\n\n\n\n\n\n\n\n\n</body>\n</html>\n","output":"str","x":1290,"y":460,"wires":[["f08d1d84.637"]]},{"id":"70cad866.f442f8","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1500,"y":540,"wires":[]},{"id":"f08d1d84.637","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{},"x":1540,"y":480,"wires":[]},{"id":"20172141.81324e","type":"template","z":"9aa7daf6.cc8ac8","name":"css","field":"css.cssfile","fieldType":"msg","format":"handlebars","syntax":"mustache","template":":root {\n  --jumbotron-padding-y: 3rem;\n}\n\n.jumbotron {\n  padding-top: var(--jumbotron-padding-y);\n  padding-bottom: var(--jumbotron-padding-y);\n  margin-bottom: 0;\n  background-color: #555;\n}\n@media (min-width: 768px) {\n  .jumbotron {\n    padding-top: calc(var(--jumbotron-padding-y) * 2);\n    padding-bottom: calc(var(--jumbotron-padding-y) * 2);\n  }\n}\n\n.card-body {\n  color:gray; font-size:small;\n}\n\n.jumbotron p:last-child {\n  margin-bottom: 0;\n}\n\n.jumbotron-heading {\n  font-weight: 300;\n}\n\n.jumbotron .container {\n  max-width: 40rem;\n}\n\nfooter {\n  padding-top: 3rem;\n  padding-bottom: 3rem;\n}\n\nfooter p {\n  margin-bottom: .25rem;\n}","output":"str","x":1110,"y":460,"wires":[["426e223b.27619c"]]},{"id":"aa6c4af6.41d098","type":"function","z":"9aa7daf6.cc8ac8","name":"アイデア登録","func":"var describe = msg.describe; \nif(!describe) {\n    describe = \"\"; \n}\n\nvar tags = msg.tags.join(','); \n\nmsg.topic = `REPLACE INTO IdeaInfo values ('${msg.title}', '${msg.url}', '${msg.user_id}', '${describe}', '${tags}', UUID());`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["588035a6.9db5cc"]]},{"id":"e4f09fa.37d086","type":"function","z":"9aa7daf6.cc8ac8","name":"アイデア情報リクエスト","func":"msg.topic = `SELECT IdeaInfo.uuid as uuid, title, idea_url, describe_data, IdeaInfo.user_id, tag, count(*) as count from IdeaInfo inner join LikeList on IdeaInfo.uuid=LikeList.uuid group by LikeList.uuid, title, idea_url, IdeaInfo.user_id, describe_data, tag, title;`;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["78624e06.89c11"]]},{"id":"ff4f91ac.caf0c","type":"function","z":"9aa7daf6.cc8ac8","name":"ユーザ登録","func":"var roles = msg.user_role.join(','); \n\nmsg.topic = `REPLACE INTO UserInfo values ('${msg.user_id}', '${roles}');`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["5df5588c.c9d808"]]},{"id":"8c1676af.1b4028","type":"e-mail","z":"9aa7daf6.cc8ac8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":810,"y":840,"wires":[]},{"id":"e507c89a.528ff8","type":"inject","z":"9aa7daf6.cc8ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":920,"wires":[["58bc3264.02b58c"]]},{"id":"58bc3264.02b58c","type":"function","z":"9aa7daf6.cc8ac8","name":"メール送信","func":"msg.topic = \"Online Hack Hack からのお知らせ\";\nmsg.to = msg.email;\n\nvar addr_root = `https://pit-creation.com/OnlineHackHack_z9eNYhrdTGvBdYsAkPrdU8Wd`;\nvar addr = `${addr_root}/show_idea?session=${msg.session}`;\n\nmsg.payload = \"投票者登録ありがとうございます。\\n\\n\";\nmsg.payload += \"以下のリンクからみんなのアイデアの確認やコメント・応募をお願いします\\n\\n\";\nmsg.payload += `${addr}\\n\\n`;\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":840,"wires":[["8c1676af.1b4028"]]},{"id":"53351ddd.ca3eb4","type":"template","z":"9aa7daf6.cc8ac8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Online Hack Hack</title>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <!-- BootstrapのCSS読み込み -->\n    <link href=\"https://pit-creation.com/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"> -->\n    <!-- jQuery読み込み -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n    <!-- BootstrapのJS読み込み -->\n    <script src=\"https://pit-creation.com/bootstrap/js/bootstrap.min.js\"></script>\n    \n    <style>\n        {{{css.cssfile}}}\n    </style>\n\n</head>\n<body>\n\n   <a id=\"skippy\" class=\"sr-only sr-only-focusable\" href=\"#content\">\n  <div class=\"container\">\n    <span class=\"skiplink-text\">Skip to main content</span>\n  </div>\n</a>\n\n\n\n    <header>\n  <div class=\"collapse bg-dark\" id=\"navbarHeader\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"col-sm-8 col-md-7 py-4\">\n          <h4 class=\"text-white\">このサイトについて</h4>\n          <p class=\"text-muted\">今後ハッカソンはオンラインが標準になってくるはず。東京も大阪も広島も、ひょっとすると国境さえ飛び越えて共に開発する日がやってくるかも。そんなときのために支援ツールを開発してみました。</p>\n        </div>\n        <div class=\"col-sm-4 offset-md-1 py-4\">\n          <h4 class=\"text-white\">Contact</h4>\n          <ul class=\"list-unstyled\">\n            <li><a href=\"#\" class=\"text-white\">Shinsuke Ogata</a></li>\n            <li><a href=\"#\" class=\"text-white\">Yuta Matsunaga</a></li>\n          </ul>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"navbar navbar-dark bg-dark shadow-sm\">\n    <div class=\"container d-flex justify-content-between\">\n      <a href=\"#\" class=\"navbar-brand d-flex align-items-center\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"mr-2\"><path d=\"M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z\"></path><circle cx=\"12\" cy=\"13\" r=\"4\"></circle></svg>\n        <strong>Online Hack Hack</strong>\n      </a>\n      <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarHeader\" aria-controls=\"navbarHeader\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n        <span class=\"navbar-toggler-icon\"></span>\n      </button>\n    </div>\n  </div>\n</header>\n\n\n\n<main role=\"main\">\n\n\n\n  <div id=\"page\">\n    <div class=\"container\">\n      <h1>Regist to Vote!</h1>\n      \n      <div class=\"row\">\n        <div class=\"col-sm-9\">\n            \n          <form method=\"POST\" action=\"https://pit-creation.com/OnlineHackHack_z9eNYhrdTGvBdYsAkPrdU8Wd/request_vote\" class=\"form-horizontal\">\n            <div class=\"form-group\">\n              <label for=\"input-name\" class=\"col-sm-2 control-label\">Your name or HN</label>\n              <div class=\"col-sm-10\">\n                <input type=\"text\" class=\"form-control\" name=\"name\" id=\"name\" placeholder=\"name\" required=\"required\">\n              </div>\n            </div>\n            <div class=\"form-group\">\n              <label for=\"input-mail\" class=\"col-sm-2 control-label\">Email</label>\n              <div class=\"col-sm-10\">\n                <input type=\"email\" class=\"form-control\" name=\"email\" id=\"email\" placeholder=\"Email\" required=\"required\">\n              </div>\n            </div>\n            <div class=\"form-group\">\n              <div class=\"col-sm-offset-2 col-sm-10\">\n                <button type=\"submit\" class=\"btn btn-default\">Submit</button>\n              </div>\n            </div>\n          </form>\n          \n        </div>\n      </div>\n\n    </div><!-- /container -->\n  </div><!-- /page -->\n\n\n\n\n\n\n\n\n</main>\n\n<footer class=\"text-muted\">\n  <div class=\"container\">\n    <p class=\"float-right\">\n      <a href=\"#\">Back to top</a>\n    </p>\n    <p>New to Bootstrap? <a href=\"../../\">Visit the homepage</a> or read our <a href=\"../../getting-started/\">getting started guide</a>.</p>\n  </div>\n</footer>\n\n\n\n\n\n\n\n\n</body>\n</html>\n","output":"str","x":370,"y":620,"wires":[["9644fcc6.7d4c9"]]},{"id":"a678535c.3c7a1","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/go_to_vote","method":"get","upload":false,"swaggerDoc":"","x":200,"y":620,"wires":[["53351ddd.ca3eb4"]]},{"id":"9644fcc6.7d4c9","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{},"x":540,"y":620,"wires":[]},{"id":"153bf04a.f953e","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/request_vote","method":"post","upload":false,"swaggerDoc":"","x":190,"y":700,"wires":[["402efb6a.8e0784","b8ae20bf.a258e"]]},{"id":"53e4b1a1.e4147","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{},"x":590,"y":700,"wires":[]},{"id":"a72d2bc4.3d6578","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":540,"wires":[]},{"id":"402efb6a.8e0784","type":"template","z":"9aa7daf6.cc8ac8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Online Hack Hack</title>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <!-- BootstrapのCSS読み込み -->\n    <link href=\"https://pit-creation.com/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"> -->\n    <!-- jQuery読み込み -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n    <!-- BootstrapのJS読み込み -->\n    <script src=\"https://pit-creation.com/bootstrap/js/bootstrap.min.js\"></script>\n    \n    <style>\n        {{{css.cssfile}}}\n    </style>\n\n</head>\n<body>\n\n   <a id=\"skippy\" class=\"sr-only sr-only-focusable\" href=\"#content\">\n  <div class=\"container\">\n    <span class=\"skiplink-text\">Skip to main content</span>\n  </div>\n</a>\n\n\n\n    <header>\n  <div class=\"collapse bg-dark\" id=\"navbarHeader\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"col-sm-8 col-md-7 py-4\">\n          <h4 class=\"text-white\">このサイトについて</h4>\n          <p class=\"text-muted\">今後ハッカソンはオンラインが標準になってくるはず。東京も大阪も広島も、ひょっとすると国境さえ飛び越えて共に開発する日がやってくるかも。そんなときのために支援ツールを開発してみました。</p>\n        </div>\n        <div class=\"col-sm-4 offset-md-1 py-4\">\n          <h4 class=\"text-white\">Contact</h4>\n          <ul class=\"list-unstyled\">\n            <li><a href=\"#\" class=\"text-white\">Shinsuke Ogata</a></li>\n            <li><a href=\"#\" class=\"text-white\">Yuta Matsunaga</a></li>\n          </ul>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"navbar navbar-dark bg-dark shadow-sm\">\n    <div class=\"container d-flex justify-content-between\">\n      <a href=\"#\" class=\"navbar-brand d-flex align-items-center\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"mr-2\"><path d=\"M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z\"></path><circle cx=\"12\" cy=\"13\" r=\"4\"></circle></svg>\n        <strong>Online Hack Hack</strong>\n      </a>\n      <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarHeader\" aria-controls=\"navbarHeader\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n        <span class=\"navbar-toggler-icon\"></span>\n      </button>\n    </div>\n  </div>\n</header>\n\n\n\n<main role=\"main\">\n\n{{#payload}}\n\n  <section class=\"jumbotron text-center\">\n    <div class=\"container\">\n      <h1 class=\"jumbotron-heading\">Let's vote!</h1>\n      <p class=\"lead text-muted\">{{name}}さん宛てに投票用の案内メールを送りました！</p>\n      <!--\n      <p>\n        <a href=\"#\" class=\"btn btn-primary my-2\">Main call to action</a>\n        <a href=\"#\" class=\"btn btn-secondary my-2\">Secondary action</a>\n      </p>\n      -->\n    </div>\n  </section>\n{{/payload}}\n\n\n\n\n\n\n\n</main>\n\n<footer class=\"text-muted\">\n  <div class=\"container\">\n    <p class=\"float-right\">\n      <a href=\"#\">Back to top</a>\n    </p>\n    <p>New to Bootstrap? <a href=\"../../\">Visit the homepage</a> or read our <a href=\"../../getting-started/\">getting started guide</a>.</p>\n  </div>\n</footer>\n\n\n\n\n\n\n\n\n</body>\n</html>\n","output":"str","x":410,"y":700,"wires":[["53e4b1a1.e4147"]]},{"id":"b8ae20bf.a258e","type":"function","z":"9aa7daf6.cc8ac8","name":"セッション生成","func":"var today = new Date();\nvar stoday = `${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()} ${today.getHours()}:${today.getMinutes()}:${today.getSeconds()}`;\nvar S=\"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\"\nvar N=64;\nmsg.session = Array.from(Array(N)).map(()=>S[Math.floor(Math.random()*S.length)]).join('');\nmsg.email = msg.payload.email;\n\nmsg.topic = `REPLACE INTO Session values('${msg.session}', '${msg.payload.email}', '${msg.payload.name}', '${stoday}')`\n\nmsg.cookies = { };\nmsg.cookies[\"access_token\"] = msg.session;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":760,"wires":[["58bc3264.02b58c","31a5c93e.9f1ad6"]]},{"id":"f789eaed.bda308","type":"inject","z":"9aa7daf6.cc8ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":840,"wires":[["b8ae20bf.a258e"]]},{"id":"d64cd46b.81fe78","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/vote","method":"get","upload":false,"swaggerDoc":"","x":157,"y":1028,"wires":[["4182eb08.0ce634","e1935e9b.efeed"]]},{"id":"4182eb08.0ce634","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":1140,"wires":[]},{"id":"9ff4de10.d5603","type":"function","z":"9aa7daf6.cc8ac8","name":"LIKEリスト取得","func":"msg.topic = `SELECT user_id, uuid, DATE_FORMAT(reg_time, '%Y/%m/%d %H:%i:%s') as reg_time from LikeList where user_id='${msg.user_name}';`; \nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1180,"wires":[["69816908.9063f8"]]},{"id":"499c9d30.8bf1a4","type":"inject","z":"9aa7daf6.cc8ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":980,"wires":[["70d2414a.124c2"]]},{"id":"49fad9cc.840a88","type":"function","z":"9aa7daf6.cc8ac8","name":"LIKEカウントチェック","func":"var max_vote = 2;\n\nvar dts = []; \nmsg.has_voted = false;\nmsg.over_vote = false;\n\nfor(var i=0;i<msg.payload.length;i++) {\n    var user_id = msg.payload[i].user_id;\n    var uuid = msg.payload[i].uuid;\n    var reg_time = msg.payload[i].reg_time;\n    dts.push(new Date(reg_time)); \n    if(user_id == msg.user_name && uuid == msg.uuid) {\n        msg.has_voted = true;\n        return msg;\n    }\n}\n\ndts.sort(function(a,b){\n        if( a < b ) return -1;\n        if( a > b ) return 1;\n        return 0;\n});\n\nmsg.dts = dts;\n\nmsg.topic = null;\n\nif(dts.length >= max_vote) {\n    dt = dts[dts.length - max_vote]; \n    var sdt = `${dt.getFullYear()}/${dt.getMonth()+1}/${dt.getDate()} ${dt.getHours()}:${dt.getMinutes()}:${dt.getSeconds()}`;\n    msg.topic = `DELETE from LikeList where reg_time <= '${sdt}'`;\n    msg.over_vote = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1260,"wires":[["f926d2a0.a8062","d67b09ec.168008"]]},{"id":"e1935e9b.efeed","type":"function","z":"9aa7daf6.cc8ac8","name":"パラメータ保持","func":"msg.session = msg.payload.session;\nmsg.uuid = msg.payload.uuid;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1060,"wires":[["abde2c07.c4208"]]},{"id":"abde2c07.c4208","type":"function","z":"9aa7daf6.cc8ac8","name":"セッション情報取得","func":"msg.topic = `SELECT * from Session where session='${msg.session}';`\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1060,"wires":[["d0f3a05.14da26","90b933a5.97f98"]]},{"id":"70d2414a.124c2","type":"function","z":"9aa7daf6.cc8ac8","name":"","func":"msg.session = 'zinjqhFalHi3PPCCuexKHIgiIMMscn5pvugLD9Ult36hhP9ACHMZWMaHqGZZocrr';\nmsg.uuid = '659d7363-9d2e-11ea-8c9c-9ca3ba01fe45';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":980,"wires":[["abde2c07.c4208"]]},{"id":"d0f3a05.14da26","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":870,"y":980,"wires":[]},{"id":"c6877176.ede23","type":"function","z":"9aa7daf6.cc8ac8","name":"セッションチェック","func":"// エラーチェックが今はザル・・・\n\nmsg.user_name = msg.payload[0].user_name;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1060,"wires":[["9ff4de10.d5603"]]},{"id":"9c2e6a21.5bca68","type":"function","z":"9aa7daf6.cc8ac8","name":"投票","func":"var today = new Date();\nvar stoday = `${today.getFullYear()}/${today.getMonth()+1}/${today.getDate()} ${today.getHours()}:${today.getMinutes()}:${today.getSeconds()}`;\n\nmsg.topic = `INSERT INTO LikeList values('${msg.user_name}', '${msg.uuid}', '${stoday}');`;\n\nmsg.res_message = \"投票ありがとうございました！\";\nif(msg.over_vote) {\n    msg.res_message = \"投票数の上限を超えていたので、古い投票を削除しました\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1340,"wires":[["8217e214.cd79b"]]},{"id":"77aed06b.39075","type":"switch","z":"9aa7daf6.cc8ac8","name":"投票数を超えていないか？","property":"topic","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":1260,"wires":[["9276a0a6.bc40a"],["9c2e6a21.5bca68"]]},{"id":"f926d2a0.a8062","type":"switch","z":"9aa7daf6.cc8ac8","name":"投票済みか？","property":"has_voted","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1260,"wires":[["77aed06b.39075"],["a6001734.3cc978"]]},{"id":"c6d7be90.f91e8","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1810,"y":1440,"wires":[]},{"id":"a6001734.3cc978","type":"function","z":"9aa7daf6.cc8ac8","name":"投票結果","func":"msg.topic = `SELECT * FROM LikeList inner join IdeaInfo on IdeaInfo.uuid=LikeList.uuid where IdeaInfo.uuid='${msg.uuid}' ;`;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1420,"wires":[["8ecefc53.2ba6f"]]},{"id":"17cfd90c.02a797","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1640,"wires":[]},{"id":"d67b09ec.168008","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":1480,"wires":[]},{"id":"a50854c9.d4c128","type":"template","z":"9aa7daf6.cc8ac8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Online Hack Hack</title>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <!-- BootstrapのCSS読み込み -->\n    <link href=\"https://pit-creation.com/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"> -->\n    <!-- jQuery読み込み -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n    <!-- BootstrapのJS読み込み -->\n    <script src=\"https://pit-creation.com/bootstrap/js/bootstrap.min.js\"></script>\n    \n    <script>\n  function sendData(url) {\n      alert(`session={{{session}}}&url=${url}`);\n    const XHR = new XMLHttpRequest();\n\n    // データが正常に送信された場合に行うことを定義します\n    XHR.addEventListener(\"load\", function(event) {\n      alert(event.target.responseText);\n    });\n\n    // エラーが発生した場合に行うことを定義します\n    XHR.addEventListener(\"error\", function(event) {\n      alert('Oups! Something goes wrong.');\n    });\n\n    XHR.open(\"POST\", \"https://pit-creation.com/OnlineHackHack_z9eNYhrdTGvBdYsAkPrdU8Wd/vote\");\n\n    XHR.send(`session={{{session}}}&url=${url}`)\n    \n    return false;\n  }\n\n    </script>\n    \n    <style>\n        {{{css.cssfile}}}\n    </style>\n\n</head>\n<body>\n\n   <a id=\"skippy\" class=\"sr-only sr-only-focusable\" href=\"#content\">\n  <div class=\"container\">\n    <span class=\"skiplink-text\">Skip to main content</span>\n  </div>\n</a>\n\n\n\n    <header>\n  <div class=\"collapse bg-dark\" id=\"navbarHeader\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"col-sm-8 col-md-7 py-4\">\n          <h4 class=\"text-white\">このサイトについて</h4>\n          <p class=\"text-muted\">今後ハッカソンはオンラインが標準になってくるはず。東京も大阪も広島も、ひょっとすると国境さえ飛び越えて共に開発する日がやってくるかも。そんなときのために支援ツールを開発してみました。</p>\n        </div>\n        <div class=\"col-sm-4 offset-md-1 py-4\">\n          <h4 class=\"text-white\">Contact</h4>\n          <ul class=\"list-unstyled\">\n            <li><a href=\"#\" class=\"text-white\">Shinsuke Ogata</a></li>\n            <li><a href=\"#\" class=\"text-white\">Yuta Matsunaga</a></li>\n          </ul>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"navbar navbar-dark bg-dark shadow-sm\">\n    <div class=\"container d-flex justify-content-between\">\n      <a href=\"#\" class=\"navbar-brand d-flex align-items-center\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"mr-2\"><path d=\"M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z\"></path><circle cx=\"12\" cy=\"13\" r=\"4\"></circle></svg>\n        <strong>Online Hack Hack</strong>\n      </a>\n      <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarHeader\" aria-controls=\"navbarHeader\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n        <span class=\"navbar-toggler-icon\"></span>\n      </button>\n    </div>\n  </div>\n</header>\n\n\n\n\n\n\n\n<main role=\"main\">\n\n  <section class=\"jumbotron text-center\">\n    <div class=\"container\">\n      <h1 class=\"jumbotron-heading\">Ideas</h1>\n      <div class=\"card-body\">\n        <p class=\"lead \">{{{res_message}}}</p>\n      </div>\n      <!--\n      <p>\n        <a href=\"#\" class=\"btn btn-primary my-2\">Main call to action</a>\n        <a href=\"#\" class=\"btn btn-secondary my-2\">Secondary action</a>\n      </p>\n      -->\n    </div>\n  </section>\n\n  <div class=\"album py-5 bg-light\">\n    <div class=\"container\">\n\n      <div class=\"row\">\n\n\n        <div class=\"col-md-4\">\n          <div class=\"card mb-4 shadow-sm\">\n            <img class=\"card-img-top\" src=\"{{{idea_url}}}\" alt=\"idea image\">\n            <div class=\"card-body\">\n              <h2 class=\"card-text\">{{{title}}}</h2>\n              <p class=\"card-text\">{{{star}}}</p>\n              <p class=\"card-text\">{{{describe_data}}}</p>\n              <div class=\"d-flex justify-content-between align-items-center\">\n                <small class=\"text-muted\">tags: {{{tags}}}</small>\n                <small class=\"text-muted\">owner: {{{user_name}}}</small>\n              </div>\n            </div>\n          </div>\n        </div>\n\n        \n      </div>\n    </div>\n    \n    <form name=\"submitdata\" id=\"myForm\" onSubmit=\"return sendData(submitdata.submit.value)\" class=\"form-horizontal\">\n    </form>\n    \n  </div>\n\n</main>\n\n<footer class=\"text-muted\">\n  <div class=\"container\">\n    <p class=\"float-right\">\n      <a href=\"#\">Back to top</a>\n    </p>\n    <p>New to Bootstrap? <a href=\"../../\">Visit the homepage</a> or read our <a href=\"../../getting-started/\">getting started guide</a>.</p>\n  </div>\n</footer>\n\n\n\n\n\n\n\n\n</body>\n</html>\n","output":"str","x":1630,"y":1500,"wires":[["f12c1db0.75e03"]]},{"id":"8c17dbff.3d66b8","type":"function","z":"9aa7daf6.cc8ac8","name":"星を付与","func":"\nmsg.star = `★  ${msg.payload.length}`\n\n\nmsg.title = msg.payload[0].title;\nmsg.idea_url = msg.payload[0].idea_url;\nmsg.describe_data = msg.payload[0].describe_data;\nmsg.tags = msg.payload[0].tag;\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1500,"wires":[["8148b9f9.653968","17cfd90c.02a797"]]},{"id":"f12c1db0.75e03","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{},"x":1830,"y":1520,"wires":[]},{"id":"8148b9f9.653968","type":"template","z":"9aa7daf6.cc8ac8","name":"css","field":"css.cssfile","fieldType":"msg","format":"handlebars","syntax":"mustache","template":":root {\n  --jumbotron-padding-y: 3rem;\n}\n\n.jumbotron {\n  padding-top: var(--jumbotron-padding-y);\n  padding-bottom: var(--jumbotron-padding-y);\n  margin-bottom: 0;\n  background-color: #555;\n}\n@media (min-width: 768px) {\n  .jumbotron {\n    padding-top: calc(var(--jumbotron-padding-y) * 2);\n    padding-bottom: calc(var(--jumbotron-padding-y) * 2);\n  }\n}\n\n.card-body {\n  color:gray; font-size:small;\n}\n\n.jumbotron p:last-child {\n  margin-bottom: 0;\n}\n\n.jumbotron-heading {\n  font-weight: 300;\n}\n\n.jumbotron .container {\n  max-width: 40rem;\n}\n\nfooter {\n  padding-top: 3rem;\n  padding-bottom: 3rem;\n}\n\nfooter p {\n  margin-bottom: .25rem;\n}","output":"str","x":1430,"y":1500,"wires":[["a50854c9.d4c128"]]},{"id":"f659afe.f2a7a5","type":"template","z":"9aa7daf6.cc8ac8","name":"html.","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Online Hack Hack</title>\n    <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n    <!-- BootstrapのCSS読み込み -->\n    <link href=\"https://pit-creation.com/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\"> -->\n    <!-- jQuery読み込み -->\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n    <!-- BootstrapのJS読み込み -->\n    <script src=\"https://pit-creation.com/bootstrap/js/bootstrap.min.js\"></script>\n    \n    <style>\n        {{{css.cssfile}}}\n    </style>\n\n</head>\n<body>\n\n   <a id=\"skippy\" class=\"sr-only sr-only-focusable\" href=\"#content\">\n  <div class=\"container\">\n    <span class=\"skiplink-text\">Skip to main content</span>\n  </div>\n</a>\n\n\n\n    <header>\n  <div class=\"collapse bg-dark\" id=\"navbarHeader\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"col-sm-8 col-md-7 py-4\">\n          <h4 class=\"text-white\">このサイトについて</h4>\n          <p class=\"text-muted\">今後ハッカソンはオンラインが標準になってくるはず。東京も大阪も広島も、ひょっとすると国境さえ飛び越えて共に開発する日がやってくるかも。そんなときのために支援ツールを開発してみました。</p>\n        </div>\n        <div class=\"col-sm-4 offset-md-1 py-4\">\n          <h4 class=\"text-white\">Contact</h4>\n          <ul class=\"list-unstyled\">\n            <li><a href=\"#\" class=\"text-white\">Shinsuke Ogata</a></li>\n            <li><a href=\"#\" class=\"text-white\">Yuta Matsunaga</a></li>\n          </ul>\n        </div>\n      </div>\n    </div>\n  </div>\n  <div class=\"navbar navbar-dark bg-dark shadow-sm\">\n    <div class=\"container d-flex justify-content-between\">\n      <a href=\"#\" class=\"navbar-brand d-flex align-items-center\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"mr-2\"><path d=\"M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z\"></path><circle cx=\"12\" cy=\"13\" r=\"4\"></circle></svg>\n        <strong>Online Hack Hack</strong>\n      </a>\n      <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarHeader\" aria-controls=\"navbarHeader\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n        <span class=\"navbar-toggler-icon\"></span>\n      </button>\n    </div>\n  </div>\n</header>\n\n\n\n\n\n\n<div class=\"pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center\">\n  <h1 class=\"display-4\">Hack new idea!</h1>\n  <p class=\"lead\">ハッカソンへようこそ。</p>\n</div>\n\n<div class=\"container\">\n  <div class=\"card-deck mb-3 text-center\">\n    <div class=\"card mb-4 shadow-sm\">\n      <div class=\"card-header\">\n        <h3 class=\"my-0 font-weight-normal\">アイデアを投稿する</h3>\n      </div>\n      <div class=\"card-body\">\n        <h2 class=\"card-title pricing-card-title\"><small class=\"text-muted\"><p>以下のものを準備してアイデアを</p><p>投稿してください</p></small></h2>\n        <ul class=\"list-unstyled mt-3 mb-4\">\n          <li>タイトル</li>\n          <li>説明が書かれた画像１枚</li>\n          <li>アイデアのキーワード</li>\n          <li>情熱</li>\n        </ul>\n        <button type=\"button\" class=\"btn btn-lg btn-block btn-primary\" onclick=\"location.href='https://online-hack-hack-ui.now.sh/form'\">投稿する</button>\n      </div>\n    </div>\n    <div class=\"card mb-4 shadow-sm\">\n      <div class=\"card-header\">\n        <h4 class=\"my-0 font-weight-normal\">閲覧する</h4>\n      </div>\n      <div class=\"card-body\">\n        <h2 class=\"card-title pricing-card-title\"><small class=\"text-muted\"><p>お気に入りのアイデアを</p><p>発掘してください<p></small></h2>\n        <ul class=\"list-unstyled mt-3 mb-4\">\n          <li>アイデアは随時更新されます</li>\n          <li>お気に入りのアイデアにコメントをしましょう</li>\n          <li>.</li>\n          <li>.</li>\n        </ul>\n        <button type=\"button\" class=\"btn btn-lg btn-block btn-primary\" onclick=\"location.href='https://online-hack-hack-ui.now.sh/list'\">閲覧する</button>\n      </div>\n    </div>\n    <div class=\"card mb-4 shadow-sm\">\n      <div class=\"card-header\">\n        <h4 class=\"my-0 font-weight-normal\">投票する</h4>\n      </div>\n      <div class=\"card-body\">\n        <h2 class=\"card-title pricing-card-title\"><small class=\"text-muted\"><p>お気に入りのアイデアは</p><p>見つかりましたか？<p></small></h2>\n        <ul class=\"list-unstyled mt-3 mb-4\">\n          <li>投票は一人２票まで</li>\n          <li>メールアドレスを入力して投票者登録しよう</li>\n          <li>.</li>\n          <li>.</li>\n        </ul>\n        <button type=\"button\" class=\"btn btn-lg btn-block btn-primary\" onclick=\"location.href='https://pit-creation.com/OnlineHackHack_z9eNYhrdTGvBdYsAkPrdU8Wd/go_to_vote'\">投票する</button>\n      </div>\n    </div>\n  </div>\n\n\n<footer class=\"text-muted\">\n  <div class=\"container\">\n    <p class=\"float-right\">\n      <a href=\"#\">Back to top</a>\n    </p>\n    <p>New to Bootstrap? <a href=\"../../\">Visit the homepage</a> or read our <a href=\"../../getting-started/\">getting started guide</a>.</p>\n  </div>\n</footer>\n\n\n\n\n\n\n\n\n</body>\n</html>\n","output":"str","x":470,"y":1720,"wires":[["fdf6ba13.645b28"]]},{"id":"8046941d.579978","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/idea_list","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1600,"wires":[["5ea1b9a3.a74028"]]},{"id":"5ea1b9a3.a74028","type":"function","z":"9aa7daf6.cc8ac8","name":"データ取得","func":"//msg.topic = \"SELECT IdeaInfo.uuid as uuid, title, idea_url, describe_data, IdeaInfo.user_id, tag, count(*) as count from IdeaInfo inner join LikeList on IdeaInfo.uuid=LikeList.uuid group by LikeList.uuid, title, idea_url, IdeaInfo.user_id, describe_data, tag;\";\nmsg.topic = \"SELECT IdeaInfo.uuid as uuid, title, idea_url, describe_data, IdeaInfo.user_id, tag from IdeaInfo;\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1600,"wires":[["7acf9cd3.997314"]]},{"id":"cff58579.509778","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{},"x":760,"y":1600,"wires":[]},{"id":"3bb26db3.cc0192","type":"http in","z":"9aa7daf6.cc8ac8","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1720,"wires":[["e802be5c.a413"]]},{"id":"fdf6ba13.645b28","type":"http response","z":"9aa7daf6.cc8ac8","name":"","statusCode":"","headers":{},"x":630,"y":1720,"wires":[]},{"id":"e802be5c.a413","type":"template","z":"9aa7daf6.cc8ac8","name":"css","field":"css.cssfile","fieldType":"msg","format":"handlebars","syntax":"mustache","template":":root {\n  --jumbotron-padding-y: 3rem;\n}\n\n.jumbotron {\n  padding-top: var(--jumbotron-padding-y);\n  padding-bottom: var(--jumbotron-padding-y);\n  margin-bottom: 0;\n  background-color: #555;\n}\n@media (min-width: 768px) {\n  .jumbotron {\n    padding-top: calc(var(--jumbotron-padding-y) * 2);\n    padding-bottom: calc(var(--jumbotron-padding-y) * 2);\n  }\n}\n\n.my-0 {\n  color:gray; font-size:xx-large;\n}\n\n.card-body {\n  color:gray; font-size:small;\n}\n\n.jumbotron p:last-child {\n  margin-bottom: 0;\n}\n\n.jumbotron-heading {\n  font-weight: 300;\n}\n\n.jumbotron .container {\n  max-width: 40rem;\n}\n\nfooter {\n  padding-top: 3rem;\n  padding-bottom: 3rem;\n}\n\nfooter p {\n  margin-bottom: .25rem;\n}","output":"str","x":310,"y":1720,"wires":[["f659afe.f2a7a5"]]},{"id":"402ad8ac.7d8168","type":"function","z":"9aa7daf6.cc8ac8","name":"アイデア情報リクエスト","func":"msg.topic = `SELECT IdeaInfo.uuid as uuid, title, idea_url, describe_data, user_id, tag from IdeaInfo;`;\nmsg.session = msg.payload.session;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["5f39653.5df859c"]]},{"id":"9037f31b.a8214","type":"function","z":"9aa7daf6.cc8ac8","name":"","func":"msg.ideas = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["e4f09fa.37d086"]]},{"id":"de3f7627.3594d8","type":"function","z":"9aa7daf6.cc8ac8","name":"","func":"var no_star = msg.ideas;\nvar star = msg.payload;\n\nfor(var i=0;i<no_star.length;i++) {\n    var flag = false; \n    for(var j=0;j<star.length;j++) {\n        if(star[j].uuid == no_star[i].uuid) {\n            flag = true;\n            break;\n        }\n    }\n    no_star[i].count = 0;\n    if(!flag) {\n        msg.payload.push(no_star[i]); \n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":460,"wires":[["20172141.81324e"]]},{"id":"8d98c987.933e48","type":"debug","z":"9aa7daf6.cc8ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1200,"y":940,"wires":[]},{"id":"588035a6.9db5cc","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":890,"y":220,"wires":[[]]},{"id":"5df5588c.c9d808","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":880,"y":280,"wires":[[]]},{"id":"5f39653.5df859c","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":720,"y":360,"wires":[["9037f31b.a8214"]]},{"id":"78624e06.89c11","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":720,"y":460,"wires":[["de3f7627.3594d8","70cad866.f442f8"]]},{"id":"31a5c93e.9f1ad6","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":720,"y":760,"wires":[[]]},{"id":"90b933a5.97f98","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":900,"y":1060,"wires":[["c6877176.ede23","8d98c987.933e48"]]},{"id":"69816908.9063f8","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":1000,"y":1180,"wires":[["49fad9cc.840a88"]]},{"id":"7acf9cd3.997314","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":560,"y":1600,"wires":[["cff58579.509778"]]},{"id":"9276a0a6.bc40a","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":1600,"y":1260,"wires":[["9c2e6a21.5bca68"]]},{"id":"8217e214.cd79b","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":1480,"y":1340,"wires":[["a6001734.3cc978"]]},{"id":"8ecefc53.2ba6f","type":"mysql","z":"9aa7daf6.cc8ac8","mydb":"2beecc5f.e47c74","name":"","x":1480,"y":1420,"wires":[["8c17dbff.3d66b8"]]}]